<%- if current_user %>
	<%= "You silly lemon your already logged in!" %>
<%- else %>
	<h1> Login </h1>
		<div class="alert">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= notice %> 
		</div>
		<%= render 'form' %>
<% end %>


