---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Unrecognized request URL (GET: /v1/charges/).  Please see https://stripe.com/docs or we can help at https://support.stripe.com/."
          }
        }
  recorded_at: Sun, 08 Dec 2013 20:43:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/cchhcch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such charge: cchhcch",
            "param": "id"
          }
        }
  recorded_at: Sun, 08 Dec 2013 20:48:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_34tHsCOYegeEw7&amount=0&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Invalid positive integer",
            "param": "amount"
          }
        }
  recorded_at: Sun, 08 Dec 2013 20:52:54 GMT
recorded_with: VCR 2.8.0
