---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Unrecognized request URL (GET: /v1/charges/).  Please see https://stripe.com/docs or we can help at https://support.stripe.com/."
          }
        }
  recorded_at: Sun, 08 Dec 2013 20:43:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/cchhcch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such charge: cchhcch",
            "param": "id"
          }
        }
  recorded_at: Sun, 08 Dec 2013 20:48:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3HQaKikkE9K8Ez
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3HQaKikkE9K8Ez",
          "object": "charge",
          "created": 1389308212,
          "livemode": false,
          "paid": true,
          "amount": 9999,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_3HQHG90X6FRT4L",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "Sxgp5ZzwBMChDWg7",
            "customer": "cus_3HQH6GcGRXNWXi",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3HQahrwvOSzEYT",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3HQH6GcGRXNWXi",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Thu, 09 Jan 2014 22:56:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3HQaKikkE9K8Ez/refund
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "c[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_3HQH6GcGRXNWXi&amount=9999&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3HQbbztZ4fyvkX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3HQbbztZ[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_3HQbbztZ4fyvkX/refund
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "c[...]
