---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_34tHsCOYegeEw7&amount=9999&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_34yOY6YsfaRqqW",
          "object": "charge",
          "created": 1386435679,
          "livemode": false,
          "paid": true,
          "amount": 9999,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_34tHPsE65uzZe6",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "Sxgp5ZzwBMChDWg7",
            "customer": "cus_34tHsCOYegeEw7",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": null,
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_34yOZNL4kRHhbZ",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_34tHsCOYegeEw7",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Sat, 07 Dec 2013 17:01:19 GMT
recorded_with: VCR 2.8.0
