---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[cvc]=234&card[exp_year]=2020
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1387063355,
          "id": "cus_37h8VsS8bUN5b9",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_37h8VsS8bUN5b9/cards",
            "data": [
              {
                "id": "card_37h86iqoAQAmSw",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "Sxgp5ZzwBMChDWg7",
                "customer": "cus_37h8VsS8bUN5b9",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_37h86iqoAQAmSw"
        }
  recorded_at: Sat, 14 Dec 2013 23:22:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_3HQH6GcGRXNWXi&amount=9999&currency=gbp
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3HQIrik9kmbZtH",
          "object": "charge",
          "created": 1389307117,
          "livemode": false,
          "paid": true,
          "amount": 9999,
          "currency": "gbp",
          "refunded": false,
          "card": {
            "id": "card_3HQHG90X6FRT4L",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 12,
            "exp_year": 2020,
            "fingerprint": "Sxgp5ZzwBMChDWg7",
            "customer": "cus_3HQH6GcGRXNWXi",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_3HQIlNbJyawTKH",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_3HQH6GcGRXNWXi",
          "invoice": null,
          "description": null,
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Thu, 09 Jan 2014 22:38:38 GMT
recorded_with: VCR 2.8.0
