---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1386417822,
          "id": "cus_34tbfTURsyNLZt",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 0,
            "url": "/v1/customers/cus_34tbfTURsyNLZt/cards",
            "data": []
          },
          "default_card": null
        }
  recorded_at: Sat, 07 Dec 2013 12:03:41 GMT
recorded_with: VCR 2.8.0
