---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[cvc]=234&card[exp_year]=2020
    headers:
      Authorization:
      - Bearer sk_test_T8puD64drEHANGnje2UL9BhA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1386416602,
          "id": "cus_34tHsCOYegeEw7",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscription": null,
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_34tHsCOYegeEw7/cards",
            "data": [
              {
                "id": "card_34tHPsE65uzZe6",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "Sxgp5ZzwBMChDWg7",
                "customer": "cus_34tHsCOYegeEw7",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_34tHPsE65uzZe6"
        }
  recorded_at: Sat, 07 Dec 2013 11:43:22 GMT
recorded_with: VCR 2.8.0
