<h1><%= params[:id].capitalize %> </h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
     <% @dc.each do |c| %>
       <p><%= link_to c.category_name, department_category_path(@department.slug,c.slug)%> <%= c.products.count %></p>
     <% end %>
    </div>
    <div class="span10">
      <%= render 'shared/products', :target => @products %>
    </div>
  </div>
</div>