<div class="row">
  <div class="category-list">
    <div class="large-2 columns">
      <ul class="department-list">
         <% @dc.each do |c| %>
           <li id="category-item"><%= link_to c.category.category_name, department_category_path(@department.slug,c.category.slug), :id => "category-link", :remote => true %></li>
         <% end %>
      </ul>
    </div>
  </div>
  <div class="large-10 column">
    <div class="products-grid-department">
      <%= render 'shared/products', :target => @products %>
    </div>
  </div>
</div>