<h1>Order</h1>
<div class="container">
  <h2> Status </h2>
    <p><%= @order.status %></p>
  <h2> Order Items </h2>
  
  <h2> Total </h2>
   <p><%= @order.total %></p>
  <h2> Cancel Order </h2>
   <p><%= button_to 'Cancel', :id => order.id, :status => "Cancelled", cancel_user_order_path(@order),:method => "put", :class => "btn"  %></p>
 </div>
