<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" 
  </head>

  <body>

    <h1> Order </h1>

    <p> Hi <%= @user.email %></p>

    <p> We have just recieved your order and it is now being processed </p>

    <p> Thanks </p>

    <p> Blind Love Team </p>

  </body>
</html>