<h1> Edit Category </h1>
<%= form_for [:admin, @category] do |f| %>
	<%= f.fields_for :products do |p| %>
		<%= p.label :prodcts, "Prducts" %>
		<%= p.select(:products, options_from_collection_for_select(@products,:id, :name) )%>
	<% end %>
<% end %>