<ul class="thumbnails">
	<li class="span6">
		<div class="thumbnail">
			<%= image_tag(@product.image) %>
		</div>
	</li>
</ul>
<div class="product-detail">
	<p><%= @product.name %></p>
	<p><%= @product.price %></p>
</div>