.navigation-bar{
	margin-top: 0px;
	height: 70px;
}

.navigation-tabs ul{
	list-style-type: none;
	float: left;
	margin:0;
	padding:0;
}

.navigation-tabs ul li {
	display: inline;
}

.admin-products-table{
  position: relative;
  top: 100px;
  left: 200px;
}

.sizings{
  position: relative;
  left: 239px;
  top: 20px;
  width: 800px;
  height: 100px; 
}


.size-and-quant{
  position: relative;
  left: 20px;
  float: left;
}