.category-form-update {
	margin: 50px 200px 0px;
}

.category-form-new {
	margin: 50px 200px 0px;
}

.product-image {
	width: 100px;
	height: 75px;
}

.search {
  margin: 10px 10px 20px 50px;
}

.thumbnails {
	display: inline-block;
}