.category-form-update {
	margin: 50px 200px 0px;
}

.category-form-new {
	margin: 50px 200px 0px;
}

.product {
  display: inline-block;
}

.product-image {
	width: 40px;
	height: 50px;
}

.row-fluid {
	margin-top: 300px;
}

.search {
  margin: 100px 10px 0px 0px;
}