.department-list{
 position: absolute;
 top: 50px;
 left: 0px;
}


.products-grid-department {
 position:  relative;
 width: 1100px;	
 left: 25px;
 top: 50px;
}

.category-list{
   position: absolute;
   top: 160px;
   left: 50px;
}