.department-list{
 position: fixed;
 top: 50px;
 left: 0px;
}

.products-grid-department {
 position: fixed;
 width: 1100px;	
 top: 100px;
 left: 200px;
}

.category-list{
   position: absolute;
   top: 100px;
   left: 50px;
  }