.department-list{
 position: fixed;
 top: 50px;
 left: 0px;
}


.products-grid-department {
 position:  fixed;
 width: 1100px;	
 top: 150px;
 left: 200px;
}

.category-list{
   position: absolute;
   top: 160px;
   left: 50px;
}

#department-title{
  position: absolute;
  top: 50px;
  left: 600px;
}