.payment-form{
	position: fixed;
	top: 75px;
  left: 300px;
}

.payment-method{
  position: relative;
  left: 100px;
	bottom: 50px;
  top: 50px;
}

.shipping-method{
  position: relative;
	bottom: 50px;
  top: 55px;
}

.shopping-basket{
  position: relative;
	top: 20px;	
}

.shopping-basket-table{
  position: relative;
	top: 20px; 
  left: 10px;
}

.order-button{
  position: relative;
  top: 50px;
  left: 350px;
}