.payment-form{
	margin: 50px 0px 0px 100px;
}

.payment-method{
	margin: 0px 0px 50px 200px;
}

.shipping-method{
	margin: 0px 0px 50px 0px;
}

.shopping-basket{
	margin: 50px 0px 0px 0px;	
}

.shopping-basket-table{
	margin: 50px 0px 0px 10px;
}