.container {
	margin-top: 70px;
}

.thumbnails {
	margin: 10px;
}

.product-detail {
	margin: 20px 100px;
}

.product-form {
	margin: 50px 200px 0px;
}

.product-i {
	margin: 20px 20px 20px 20px;
	float: right;
	width: 350px;
	hegiht: 100px;
}

.thumbnails {
	margin: 50px 0px 0px 100px;
}