<button type="button" class="close" data-dismiss="alert">&times;</button>
  <p><%= flash[:notice] %></p>

 <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= render 'category_filter' %>
    </div>
    <div class="span10">
      <%= render 'shared/products', :target => @cp %> 
    </div>
  </div>
</div>