<div class="row">
  <div class="category-filter">
    <div class="large-2 columns">
      <%= render 'category_filter' %>
    </div>
  </div>
  <div class="products-grid">
    <div class="large-10 column">
        <%= render 'shared/products', :target => @cp %> 
    </div>
  </div>
</div>
